
.data-footer {
    text-align: center;
    background-color: blueviolet;
    border-radius: 0px;

    margin: 0;
    padding: 20px;
}

.line-footer {
    margin: 0px 60px;
}

.names-footer {
    text-align: center;
    background-color: #69c65a;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    border: 5px #69c65a solid;

    padding: 15px;
    margin: 20px 90px;
}

.email {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #4d9b48;
    border-radius: 20px;
    
    padding: 10px;
}

.email:hover {
    background-color: #5ab354;
    color: white;
}

.title-footer {
    text-align: center;
    color: black;
}