.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 40px;

    background-color: #8a0ab2;
    border-radius: 30px;
    color: white
}

.bloco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}

.banner-img{
    background: #640c7e;
    width:1000px;
    height:300px;
    text-align: center;
    margin: 15px;
}

.content-topic{
    /*aparencia*/
    background: #640c7e;
    width:1000px;
    height:500px;
    text-align: left;
    margin: 15px;
    /*fonts*/

}